	            <li id="@ViewBag.AccountDetails">@Html.ActionLink("MY ACCOUNT", "Details", "Account")</li>
	            <li id="@ViewBag.AccountEdit">@Html.ActionLink("EDIT ACCOUNT", "Edit", "Account")</li>
                <li id="@ViewBag.Transactions">@Html.ActionLink("PURCHASES", "Transactions", "Account")</li>
	            <li id="@ViewBag.CreditCard">@Html.ActionLink("CREDIT CARD", "CreditCard", "Account")</li>